body{
    background-image: url('image.jpg');
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    margin-top: 200px;
    margin-bottom: 300px;
}
h2{
    color: black;
}
input[type=text]:hover{
    background-color: rgb(119, 5, 53);
    transform:scale(1,1.5)
    
}
button:hover{
    transform: scale(1,1.5);
    background-color: rgb(119, 5, 53);
}